<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Shamyr" value="https://pkgs.dev.azure.com/ladislav-prix/Shamyr/_packaging/Shamyr/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Shamyr>
      <add key="Username" value="devops" />
      <add key="ClearTextPassword" value="24dwiuuvywf7xqmszfbg4w6ipg6yupcnabc2dcdeaid4hqvrjk3q" />
    </Shamyr>
  </packageSourceCredentials>
</configuration>
