
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Shamyr" value="https://pkgs.dev.azure.com/ladislav-prix/Shamyr/_packaging/Shamyr/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <QCore>
      <add key="Username" value="elix78963@gmail.com" />
      <add key="ClearTextPassword" value="73q7zsnpbzs4gkjp73hxtqwiusvosabkhkyw54sqjnx5cc65z3cq" />
    </QCore>
  </packageSourceCredentials>
</configuration>
